
@{
    ViewBag.Title = "Login";
}


@if (ViewBag.AllowLocalLogin)
{
    <div id="LocalLoginDiv">
        <h2>Login</h2>
        <hr />
        <form method="post" action="@Href("~/UserAccount/Login")">
            @*<input type="hidden" name="returnurl" value="@Href("~/home/mypage")" />
                <input type="hidden" name="failureurl" value="@Href("~/home/mypage?msg=err")" />*@

            Username: <input type="text" name="login" />
            <br/>
            Password: <input type="password" name="password" />
            <br />
            <button class="btn btn-default btn-success " type="submit">Login</button>
        </form>
    </div>
}

<div id="socialLoginDiv">
    @if (ViewBag.AllowGoogleLogin)
    {

        <h2>Social Login</h2>
        <hr />

        using (Html.BeginForm("ExternalLogin", "UserAccount", new { ReturnUrl = "/", type = "Google" }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <button type="submit" class="btn btn-sm" id="btnGoogle" name="Google" value="Google"></button>

            </div>
        }

    }
</div>

<style>
    #LocalLoginDiv{
        float: left;
        padding-right:200px;
    }

    #socialLoginDiv{
        float: left;

    }
</style>
